@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/*noinspection CssUnresolvedCustomProperty*/
@theme inline {
  --color-background: var(--background);
  --color-background-transparent: var(--background-transparent);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-popover-hover: var(--popover-hover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-mini-card: var(--mini-card-background);
  --color-mini-card-foreground: var(--mini-card-foreground);
}

:root {
    --radius: 0.625rem;
    --background: oklch(0.99 0.01 300);
    --foreground: oklch(0.1 0.05 300);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.1 0.05 300);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.1 0.05 300);
    --popover-hover: oklch(0.95 0.05 300);
    --primary: oklch(0.45 0.18 300);
    --primary-foreground: oklch(0.98 0.01 300);
    --secondary: oklch(0.9 0.05 300);
    --secondary-foreground: oklch(0.25 0.1 300);
    --muted: oklch(0.85 0.03 300);
    --muted-foreground: oklch(0.45 0.08 300);
    --accent: oklch(0.45 0.18 300);
    --accent-foreground: oklch(0.98 0.01 300);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.8 0.05 300);
    --input: oklch(0.8 0.05 300);
    --ring: oklch(0.45 0.18 300);
    --chart-1: oklch(0.45 0.18 300);
    --chart-2: oklch(0.7 0.15 280);
    --chart-3: oklch(0.6 0.2 320);
    --chart-4: oklch(0.8 0.1 260);
    --chart-5: oklch(0.5 0.1 20);
    --mini-card-background: oklch(0.85 0.03 300);
    --mini-card-foreground: oklch(0.25 0.1 300);
}

.dark {
    --background: oklch(0.12 0.08 300);
    --background-transparent: oklch(0.12 0.08 300 / 0.90);
    --foreground: oklch(0.9 0.05 300);
    --card: oklch(0.15 0.08 300);
    --card-foreground: oklch(0.9 0.05 300);
    --popover: oklch(0.15 0.08 300);
    --popover-foreground: oklch(0.9 0.05 300);
    --popover-hover: oklch(0.20 0.08 300);
    --primary: oklch(0.7 0.18 300);
    --primary-foreground: oklch(0.12 0.08 300);
    --secondary: oklch(0.3 0.08 300);
    --secondary-foreground: oklch(0.95 0.05 300);
    --muted: oklch(0.25 0.06 300);
    --muted-foreground: oklch(0.65 0.1 300);
    --accent: oklch(0.7 0.18 300);
    --accent-foreground: oklch(0.12 0.08 300);
    --destructive: oklch(0.5 0.15 15);
    --border: oklch(0.3 0.08 300);
    --input: oklch(0.25 0.08 300 / 50%);
    --ring: oklch(0.7 0.18 300);
    --chart-1: oklch(0.7 0.18 300);
    --chart-2: oklch(0.8 0.15 280);
    --chart-3: oklch(0.6 0.2 320);
    --chart-4: oklch(0.5 0.1 260);
    --chart-5: oklch(0.8 0.1 20);
    --mini-card-background: oklch(0.25 0.06 300);
    --mini-card-foreground: oklch(0.75 0.1 300);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .hamburger-button {
    @apply w-6 h-6 flex flex-col justify-around items-center bg-transparent border-none cursor-pointer p-0;
  }

  .hamburger-line {
    @apply w-5 h-0.5 bg-foreground rounded-full transition-all duration-300 ease-in-out origin-center;
  }

  .hamburger-line-top.open {
    @apply transform rotate-45 translate-y-[0.5rem];
  }

  .hamburger-line-middle.open {
    @apply opacity-0;
  }

  .hamburger-line-bottom.open {
    @apply transform -rotate-45 -translate-y-[0.5rem];
  }
}
